.is-gradient {
  background: rgb(212,49,49);
  background: linear-gradient(0deg, rgba(212,49,49,1) 45%, rgba(255,255,255,1) 100%);
}

.btn-container {
  margin: 0 auto;
  padding: 20px;
}

.btn-is-rounded {
  border-radius: 50%;
}

.text__btn {
  text-transform: capitalize;
  color: #D43131;
}