<section class="hero is-fullheight is-gradient">
  <div class="hero-head">
    <header class="navbar">
      <div class="container"></div>
    </header>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <main class="content">
        <img src="../../assets/images/landing-logo.png" alt="" srcset="">
      </main>
    </div>
  </div>
  <div class="hero-foot">

    <section class="section">
      <div class="columns is-mobile">
        <div class="column is-6">
          <ion-button color="light" size="large" expand="full" shape="round" (click)="goToLoginPage()">
            <p class="text__btn">Iniciar Sesión</p>
          </ion-button>
        </div>
        <div class="column is-6">
          <ion-button color="light" size="large" expand="full" shape="round" (click)="goToSignupPage()">
            <p class=" text__btn">Registrarse</p>
          </ion-button>
        </div>
      </div>
    </section>

    <div class="tabs is-boxed is-fullwidth">
      <div class="container has-text-centered">
        <p class="has-text-white"><small>© Uforo 2021. Todos los derehos reservados.</small></p>
      </div>
    </div>

  </div>
</section>