<ion-content>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content has-text-centered">

            <ion-buttons slot="start">
              <ion-back-button defaultHref="/landing"></ion-back-button>
            </ion-buttons>

            <h1 class="title">Iniciar Sesión</h1>
            <br>

            <form [formGroup]="form" (ngSubmit)="login(form)" method="post">

              <!-- email input -->
              <div *ngFor="let e of errorMessages.email">
                <span *ngIf="email.hasError(e.type) && (email.dirty || email.touched)">
                  <small class="help is-danger">{{e.message}}</small>
                </span>
              </div>

              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input is-medium is-rounded" formControlName="email" type="email"
                    placeholder="Correo Electrónico" required="true">
                  <span class=" icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
              <!-- email input -->

              <!-- password input -->
              <div *ngFor="let e of errorMessages.password">
                <span *ngIf="password.hasError(e.type) && (password.dirty || password.touched)">
                  <small class="help is-danger">{{e.message}}</small>
                </span>
              </div>

              <div class="field">
                <p class="control has-icons-left">
                  <input class="input is-medium is-rounded" formControlName="password" type="password"
                    placeholder="Contraseña" required="true">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <!-- password input -->

              <br>
              <ion-button type="submit" [disabled]="!form.valid" size="large" expand="full" shape="round">
                <p class=" text__btn">Iniciar Sesión</p>
              </ion-button>
              <br>

              <a href=" #" class="is-red">
                <p>¿Olvidaste tu contraseña?</p>
              </a>

              <br>

              <span>
                <a href="#" class="subtitle has-text-weight-bold is-danger" [routerLink]="['/signup']">Registrarse</a>
              </span>
              <span class="icon">
                <i class="fas fa-arrow-right"></i>
              </span>


            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>