<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content has-text-centered">
            <h1 class="title">Iniciar Sesión</h1>
            <br>
            <br>
            <form action="">
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input is-large is-rounded" type="email" placeholder="correo">
                  <span class=" icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input is-large is-rounded" type="password" placeholder="contraseña">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <br>
              <button class="button is-bg-red is-rounded is-white is-fullwidth is-large">Iniciar Sesión</button>
              <br>
              <a href="#" class="is-red">
                <p>¿Olvidaste tu contraseña?</p>
              </a>
              <br>
              <p class=""><a href="#" class="is-red subtitle has-text-weight-bold">Registrarse</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>