<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>question</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="columns">
    <div class="column">
      <section class="section">
        <textarea class="textarea" placeholder="e.g. Hello world"></textarea>
        <br>
        <a class="button is-danger is-fullwidth">Publicar</a>
      </section>

    </div>
  </div>

</ion-content>