<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Preguntar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="columns">
    <div class="column">
      <section class="section">
        <form [formGroup]="form" (ngSubmit)="SendNewQuestion(form)" method="post">

          <div *ngFor="let e of errorMessages.tag">
            <span *ngIf="tag.hasError(e.type) && (tag.dirty || tag.touched)">
              <small class="help is-danger">{{e.message}}</small>
            </span>
          </div>

          <ion-select placeholder="Selecciona una Categoría" formControlName="tag">
            <ion-select-option value="Arte">Arte</ion-select-option>
            <ion-select-option value="C. Naturales y Exactas">C. Naturales y Exactas</ion-select-option>
            <ion-select-option value="Administración">Administración</ion-select-option>
            <ion-select-option value="Salud">Salud</ion-select-option>
            <ion-select-option value="C. Sociales y Económicas">C. Sociales y Económicas</ion-select-option>
            <ion-select-option value="Humanidades">Humanidades</ion-select-option>
            <ion-select-option value="Ingeniería">Ingeniería</ion-select-option>
            <ion-select-option value="Videojuegos">Videojuegos</ion-select-option>
            <ion-select-option value="Deporte">Deporte</ion-select-option>
            <ion-select-option value="Sin categoría">Sin categoría</ion-select-option>
          </ion-select>

          <br>

          <div *ngFor="let e of errorMessages.question">
            <span *ngIf="question.hasError(e.type) && (question.dirty || question.touched)">
              <small class="help is-danger">{{e.message}}</small>
            </span>
          </div>

          <div class="field">
            <div class="control">
              <textarea class="textarea" rows="6" formControlName="question" placeholder="Escribe tu pregunta..."
                maxlength="255">
              </textarea>
            </div>
          </div>

          <br>

          <ion-button type="submit" [disabled]="!form.valid" size="large" expand="full" shape="round">
            <p class=" text__btn">Publicar</p>
          </ion-button>

        </form>
      </section>


    </div>
  </div>

</ion-content>