<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Respuestas</ion-title>
    <!-- back button -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard/home"></ion-back-button>
    </ion-buttons>
    <!-- back button -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- refresh -->
  <ion-infinite-scroll>

    <div class="columns">
      <div class="column" *ngFor="let question of qestionPosts">

        <!-- post -->
        <div class="colums">
          <div class="column p-0">
            <div class="card is-shadowless">
              <div class="post__container">
                <div class="post__card">
                  <div class="columns is-mobile">
                    <div class="column is-2">
                      <!-- avatar -->
                      <ion-avatar slot="start">
                        <img class="is-rounded image is-48x48" [src]="question.avatar">
                      </ion-avatar>
                      <!-- avatar -->
                    </div>
                    <div class="column">
                      <!-- header -->
                      <div class="post__header">
                        <div class="media">
                          <div class="media-content">
                            <p><strong>{{question.autor}}</strong><span class="post__time"><small>1 m</small></span>
                            </p>
                            <small>{{question.points}} Pts</small>
                          </div>
                        </div>
                      </div>
                      <!-- header -->
                      <!-- body -->
                      <div class="post__body mt-3 mb-3">
                        <p>{{question.question}}</p>
                      </div>
                      <!-- body -->
                      <!-- footer -->
                      <div class="post__footer">
                        <div class="columns is-mobile">
                          <div class="column is-6 has-text-left has-text-danger">
                            <small>{{question.tag}}</small>
                          </div>
                          <div class="column is-6">
                            <span class="icon-text">
                              <span class="icon">
                                <ion-icon name="chatbubble-outline"></ion-icon>
                              </span>
                              <span><small>{{replies.length}}</small></span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <!-- footer -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- post -->

        <div class="has-text-centered">
          <h2 class=" subtitle">Respuestas</h2>
        </div>

        <!-- replies -->
        <div class="container__replies" *ngIf="replies.length > 0">
          <div class="card is-shadowless" *ngFor="let reply of replies">
            <div class="post__container">
              <div class="post__card">
                <div class="columns is-mobile">
                  <div class="column is-2">
                    <!-- avatar -->
                    <ion-avatar slot="start">
                      <img class="is-rounded image is-48x48" [src]="reply.avatar">
                    </ion-avatar>
                    <!-- avatar -->
                  </div>
                  <div class="column">
                    <!-- header -->
                    <div class="post__header">
                      <div class="media">
                        <div class="media-content">
                          <p><strong>{{reply.autor}}</strong><span class="post__time"><small>1 m</small></span></p>
                          <small>{{reply.points}} Pts</small>
                        </div>
                      </div>
                    </div>
                    <!-- header -->
                    <!-- body -->
                    <div class="post__body mt-3 mb-3">
                      <p>{{reply.reply}}</p>
                    </div>
                    <!-- body -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- replies -->

      </div>
    </div>


  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="columns">
      <div class="column p-5">
        <!-- form -->
        <form [formGroup]="form" (ngSubmit)="sendReply(form)" method="post">
          <div class="columns">
            <div class="column">

              <ion-item>

                <ion-textarea formControlName="reply" placeholder="Escribe un comentario..." maxlength="255">
                </ion-textarea>

                <ion-buttons>
                  <ion-button type="submit" [disabled]="!form.valid" expand="full">
                    <ion-icon slot="icon-only" color="primary" name="paper-plane-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>

              </ion-item>

              <div *ngFor="let e of errorMessages.reply">
                <span *ngIf="reply.hasError(e.type) && (reply.dirty || reply.touched)">
                  <small class="help is-danger">{{e.message}}</small>
                </span>
              </div>

            </div>
          </div>
        </form>
        <!-- form -->
      </div>
    </div>
  </ion-toolbar>
</ion-footer>