<!-- <ion-header>
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content has-text-centered">

            <ion-buttons slot="start">
              <ion-back-button defaultHref="/tabs/home"></ion-back-button>
            </ion-buttons>

            <h1 class="title">Buscar</h1>
            <br>

            <div class="control has-icons-left has-icons-right">
              <input class="input is-medium is-rounded" type="email" placeholder="Buscar...">
              <span class="icon is-left">

              </span>
              <span class="icon is-right">
                <i class="fas fa-search"></i>
              </span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>