<!-- float buttom -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button class="is-red" (click)="goToQuestionPage()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
<!-- float buttom -->

<ion-content>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content has-text-centered">

            <!-- back button -->
            <ion-buttons slot="start">
              <ion-back-button defaultHref="/dashboard/home"></ion-back-button>
            </ion-buttons>
            <!-- back button -->

            <h1 class="title">Buscar</h1>
            <br>

            <div class="control has-icons-left has-icons-right">
              <input class="input is-medium is-rounded" type="email" placeholder="Buscar...">
              <span class="icon is-left">

              </span>
              <span class="icon is-right">
                <i class="fas fa-search"></i>
              </span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>