<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Uforo
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Uforo</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- float buttom -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="is-red" (click)="addNewQestion()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- float buttom -->

  <ion-content>
    <ion-infinite-scroll>
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data…">

        <div class="columns">
          <div class="column">
            <div class="card is-shadowless">
              <!-- post -->
              <div class="post__container">
                <div class="post__card">
                  <div class="post__header">
                    <div class="media">
                      <div class="media-left">
                        <ion-avatar slot="start">
                          <img class="is-rounded image is-48x48"
                            src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
                        </ion-avatar>
                      </div>
                      <div class="media-content">
                        <p><strong>Nombre De Usuario</strong><span class="post__time"><small>31m</small></span></p>
                        <small>1024 Pts</small>
                      </div>
                    </div>
                  </div>
                  <div class="post__body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ipsa earum sed ipsum
                      voluptate repellendus dolorum libero et delectus, temporibus qui? Distinctio officiis, ab libero
                      ad reprehenderit.
                      dolorum optio.</p>
                  </div>
                  <div class="post__footer">
                    <div class="columns is-mobile">
                      <div class="column is-6">
                        <small>Humanidades</small>
                      </div>
                      <div class="column is-6">
                        <span class="icon-text">
                          <span class="icon">
                            <i class="fas fa-reply"></i>
                          </span>
                          <span>Responder</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- post -->
            </div>
          </div>
        </div>

      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>