<ion-header [translucent]="true">
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Uforo
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- side menu -->
<ion-menu menuId="main-menu" content-id="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Categorías</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="color-palette-outline" slot="start"></ion-icon>
        <ion-label>Arte</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="flask-outline" slot="start"></ion-icon>
        <ion-label>C. Naturales y Exactas</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
        <ion-label>Administración</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="medkit-outline" slot="start"></ion-icon>
        <ion-label>Salud</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="earth-outline" slot="start"></ion-icon>
        <ion-label>C. Sociales y Económicas</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="library-outline" slot="start"></ion-icon>
        <ion-label>Humanidades</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="code-slash-outline" slot="start"></ion-icon>
        <ion-label>Ingeniería</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="game-controller-outline" slot="start"></ion-icon>
        <ion-label>Videojuegos</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="basketball-outline" slot="start"></ion-icon>
        <ion-label>Deporte</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="rocket-outline" slot="start"></ion-icon>
        <ion-label>Sin categoría</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
<!-- side menu -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Uforo</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- float buttom -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="is-red" (click)="goToQuestionPage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- float buttom -->

  <ion-content>
    <!-- refresh -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5" pullMin="100" pullMax="200">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <!-- refresh -->
    <ion-infinite-scroll>
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data…">

        <!-- post -->
        <div class="colums">
          <div class="column p-0">
            <div class="card is-shadowless" *ngFor="let question of qestionPosts">
              <div class="post__container">
                <div class="post__card">
                  <div class="columns is-mobile">
                    <div class="column is-2">
                      <!-- avatar -->
                      <ion-avatar slot="start">
                        <img class="is-rounded image is-48x48" [src]="question.avatar">
                      </ion-avatar>
                      <!-- avatar -->
                    </div>
                    <div class="column">
                      <!-- header -->
                      <div class="post__header">
                        <div class="media">
                          <div class="media-content">
                            <p><strong>{{question.autor}}</strong><span class="post__time"><small>1 m</small></span></p>
                            <small>{{question.points}} Pts</small>
                          </div>
                        </div>
                      </div>
                      <!-- header -->
                      <!-- body -->
                      <div class="post__body mt-3 mb-3">
                        <p>{{question.question}}</p>
                      </div>
                      <!-- body -->
                      <!-- footer -->
                      <div class="post__footer">
                        <div class="columns is-mobile">
                          <div class="column is-6 has-text-left has-text-danger">
                            <small>{{question.tag}}</small>
                          </div>
                          <div class="column is-6">
                            <span class="icon-text" (click)="goToReplyPage(question.idQuestion)">
                              <span class="icon">
                                <ion-icon name="chatbubble-outline"></ion-icon>
                              </span>
                              <span><small>{{question.replies}} Respuestas</small></span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <!-- footer -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- post -->

      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>