<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Uforo
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Uforo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-content>
    <ion-infinite-scroll>
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data…">
        <div class="columns">
          <div class="column">
            <div class="card is-shadowless">


              <!-- post -->
              <div class="post">
                <ion-item>
                  <ion-avatar slot="start">
                    <img class="is-rounded" src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
                  </ion-avatar>
                  <ion-label><strong>Rayo McQueen</strong></ion-label><small class="end">31m</small>
                </ion-item>
                <div class="post__content__container">
                  <p class="post__content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quia mollitia hic saepe suscipit fuga
                    unde, reprehenderit aliquid! Earum magni quisquam beatae amet vel incidunt corrupti odio quas cum
                    odit.
                  </p>
                </div>
                <div class="columns is-mobile">
                  <div class="column is-6">
                    <small class="post__tag">Humanidades</small>
                  </div>
                  <div class="column is-6">
                    <a class="post__reply" href="#">
                      <span class="icon">
                        <i class="fas fa-reply"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <!-- post -->


            </div>
          </div>
        </div>


      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>